---
BasedOnStyle: LLVM
IndentWidth: '4'
AlignEscapedNewlines: DontAlign
Language: Cpp
TabWidth: '4'
PointerAlignment: Left
AlignAfterOpenBracket: BlockIndent
UseTab: Always
UseCRLF: false
BinPackArguments: false
BinPackParameters: false
AlwaysBreakAfterReturnType: None
PenaltyReturnTypeOnItsOwnLine: 250
BitFieldColonSpacing: Both

...
