CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
!docs/Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
sdkconfig
sdkconfig.old
build
.ccls
.cache
**/venv/
.vscode/
**/_build/
**/doxygen_out/
